// Background Colors

// header+hero
$lightpinkColor: #ffb8ca;
$darkpinkColor: #ffa5ba;

// sections background
$primaryBgColor: #e5e5e5;
$secondaryBgColor: #fff5f6;

$whiteColor: #ffffff;

// Title Colors
$preTitleColor: #ffa5ba;
$mainTitleColor: #d41443;

// Text Colors
$mainTextColor: #000000;
$secondaryTextColor: #907e82;

@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin less-tab {
  @media screen and (max-width: 767px) {
    @content;
  }
}
@mixin tab {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin desk {
  @media screen and (min-width: 1280px) {
    @content;
  }
}
@mixin less-desk {
  @media screen and (max-width: 1279px) {
    @content;
  }
}
