// Background Colors

// header+hero
$lightpinkColor: #ffb8ca;
$darkpinkColor: #ffa5ba;

// sections background
$primaryBgColor: #e5e5e5;
$secondaryBgColor: #fff5f6;

$whiteColor: #ffffff;

// Title Colors
$preTitleColor: #ffa5ba;
$mainTitleColor: #d41443;

// Text Colors
$mainTextColor: #000000;
$secondaryTextColor: #907e82;

