
<section class="about section" id="about">
  <div class="about__container">
    <p class="about__text">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div  class="about__info">
      <div class="about__img-milk">
      <picture>
        <source
          srcset="
            ./images/about/home-desk.png    1x,
            ./images/about/home-desk-2x.png 2x
          "
          type="image/png"
          media="(min-width: 1200px"
        />
        <source
          srcset="
            ./images/about/home-tub.png    1x,
            ./images/about/home-tub-2x.png 2x
          "
          type="image/png"
          media="(min-width: 768px"
        />
        <source
          srcset="
            ./images/about/home-mob.png    1x,
            ./images/about/home-mob-2x.png 2x
          "
          type="image/png"
          media="(min-width: 320px"
        />
        <img
          class="about__img"
          src="./images/about/home-desk.png"
          alt="молоко"
          width="501"
          height="501"
        />
      </picture>
    </div>
    <div class="about__text-milk">
        <p class="about__full-title">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__paragraph">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
         <br>
         <br>
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" class="about__button" >
        Read more <svg class="about__icon" width="4,43" height="8">
          <use href="./images/about/symbol-defs.svg#icon-about__button"></use>
        </svg>
      </button>
        </div>
      </div>
      
    </div>
  </div>
</section>
