
<section class="advantages__section">
  <div class="advantages__container">
    <div class="advantages__content">
      <h3 class="advantages__title one">721</h3>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>

    <div class="advantages__content">
      <h3 class="advantages__title two">16kg</h3>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>

    <div class="advantages__content">
      <h3 class="advantages__title three">84</h3>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>
  </div>
</section>

