<section class="contacts">
  <h2 class="hidden">Contacts</h2>
  <div class="contacts__sub-block">
    <p class="contacts__category contacts__category-cafe">CAFE</p>
    <div class="contacts__city-promo">
      <p class="contacts__city">Chicago</p>
      <p class="contacts__city-text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
    </div>
    <div class="contacts__schedule">
      <div class="contacts__weekdays">
        <p class="contacts__days">Monday - Friday</p>
        <p class="contacts__hours">06:00 AM - 10:00 PM</p>
      </div>
      <div class="contacts__weekend">
        <p class="contacts__days">Saturday - Sunday</p>
        <p class="contacts__hours">08:00 AM - 16:00 PM</p>
      </div>
    </div>
    <div class="contacts__get-in-touch">
      <ul class="">
        <li class=""><a href="tel:#">+61(0) 383 766 284</a></li>
        <li class=""><a href="mailto:#">noreply@envato.com</a></li>
      </ul>
    </div>
  </div>
  <div class="contacts__sub-block">
    <p class="contacts__category contacts__category-foodtruck">FOODTRUCK</p>
    <div class="contacts__city-promo">
      <p class="contacts__city">Los Angeles</p>
      <p class="contacts__city-text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
    </div>
    <div class="contacts__schedule">
      <div class="contacts__weekdays">
        <p class="contacts__days">Monday - Friday</p>
        <p class="contacts__hours">06:00 AM - 10:00 PM</p>
      </div>
      <div class="contacts__weekend">
        <p class="contacts__days">Saturday - Sunday</p>
        <p class="contacts__hours">08:00 AM - 16:00 PM</p>
      </div>
    </div>
    <div class="contacts__get-in-touch">
      <ul class="">
        <li class=""><a href="tel:#">+61(0) 383 766 284</a></li>
        <li class=""><a href="mailto:#">noreply@envato.com</a></li>
      </ul>
    </div>
  </div>
  <div class="contacts__sub-block">
    <p class="contacts__category contacts__category-cafe">CAFE</p>
    <div class="contacts__city-promo">
      <p class="contacts__city">New York</p>
      <p class="contacts__city-text">
        Fusce ut velit laoreet, tempus arcu molestie vulputate
      </p>
    </div>
    <div class="contacts__schedule">
      <div class="contacts__weekdays">
        <p class="contacts__days">Monday - Friday</p>
        <p class="contacts__hours">06:00 AM - 10:00 PM</p>
      </div>
      <div class="contacts__weekend">
        <p class="contacts__days">Saturday - Sunday</p>
        <p class="contacts__hours">08:00 AM - 16:00 PM</p>
      </div>
    </div>
    <div class="contacts__get-in-touch">
      <ul class="">
        <li class=""><a href="tel:#">+61(0) 383 766 284</a></li>
        <li class=""><a href="mailto:#">noreply@envato.com</a></li>
      </ul>
    </div>
  </div>
  <div class="contacts__buttons">
    <button class="contacts__button contacts__button-location" type="button">
      Our Locations
    </button>
    <button class="contacts__button contacts__button-franchise" type="button">
      Franchise
    </button>
  </div>
</section>
