<section class="contacts" id="contacts">
  <h2 class="hidden">Contacts</h2>
  <ul class="contacts__container container">
    <li class="contacts__sub-block chicago">
      <p class="contacts__category contacts__category-cafe">CAFE</p>
      <div class="contacts__city-promo">
        <p class="contacts__city">Chicago</p>
        <p class="contacts__city-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
      </div>
      <ul class="contacts__schedule">
        <li class="contacts__weekdays">
          <p class="contacts__days">Monday - Friday</p>
          <p class="contacts__hours">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts__weekend">
          <p class="contacts__days">Saturday - Sunday</p>
          <p class="contacts__hours">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="contacts__get-in-touch contacts__ul">
        <li class="contacts__li"><a href="tel:#">+61(0) 383 766 284</a></li>
        <li class="contacts__li">
          <a href="mailto:#">noreply@envato.com</a>
        </li>
      </ul>
    </li>
    <li class="contacts__sub-block los-angeles">
      <p class="contacts__category contacts__category-foodtruck">FOODTRUCK</p>
      <div class="contacts__city-promo">
        <p class="contacts__city">Los Angeles</p>
        <p class="contacts__city-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
      </div>
      <ul class="contacts__schedule">
        <li class="contacts__weekdays">
          <p class="contacts__days">Monday - Friday</p>
          <p class="contacts__hours">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts__weekend">
          <p class="contacts__days">Saturday - Sunday</p>
          <p class="contacts__hours">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="contacts__get-in-touch contacts__ul">
        <li class="contacts__li"><a href="tel:#">+61(0) 383 766 284</a></li>
        <li class="contacts__li">
          <a href="mailto:#">noreply@envato.com</a>
        </li>
      </ul>
    </li>
    <li class="contacts__sub-block new-york">
      <p class="contacts__category contacts__category-cafe">CAFE</p>
      <div class="contacts__city-promo">
        <p class="contacts__city">New York</p>
        <p class="contacts__city-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
      </div>
      <ul class="contacts__schedule">
        <li class="contacts__weekdays">
          <p class="contacts__days">Monday - Friday</p>
          <p class="contacts__hours">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts__weekend">
          <p class="contacts__days">Saturday - Sunday</p>
          <p class="contacts__hours">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="contacts__get-in-touch contacts__ul">
        <li class="contacts__li"><a href="tel:#">+61(0) 383 766 284</a></li>
        <li class="contacts__li">
          <a href="mailto:#">noreply@envato.com</a>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="contacts__buttons">
    <li>
      <button
        class="contacts__button contacts__button-location"
        type="button"
        data-modal-open-locations
      >
        Our Locations
        <svg class="contacts__button-icon" width="16" height="16">
          <use href="./images/contacts/icons.svg#icon-rarrow"></use>
        </svg>
        <a
          href="https://www.google.com/maps/place/%D0%91%D0%B5%D1%80%D0%BD,+%D0%A8%D0%B2%D0%B5%D0%B9%D1%86%D0%B0%D1%80%D0%B8%D1%8F/@46.9545845,7.2547869,11z/data=!3m1!4b1!4m5!3m4!1s0x478e39c0d43a1b77:0xcb555ffe0457659a!8m2!3d46.9479739!4d7.4474468"
        ></a>
      </button>
    </li>
    <li>
      <button
        class="contacts__button contacts__button-franchise"
        type="button"
        data-modal-open-franchise
      >
        Franchise
        <svg class="contacts__button-icon" width="16" height="16">
          <use href="./images/contacts/icons.svg#icon-rarrowr"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
