<section class="reviews">
  <div class="container sections">
    <h2 class="hidden">Cusrtomer reviews</h2>

    <div class="reviews__box-1">
      <img
        class="reviews__img"
        src="./images/reviews/reviewer-1.png"
        alt="reviewer"
      />

      <div class="reviews__text-box">
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>

      <h3 class="reviews__name">Emily, Los Angeles</h3>
    </div>

    <div class="reviews__box-2 hidden">
      <img
        class="reviews__img"
        src="./images/reviews/reviewer-2.png"
        alt="reviewer"
      />

      <div class="reviews__text-box">
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>

      <h3 class="reviews__name">Victoria, New York</h3>
    </div>

    <div class="reviews__box-3 hidden">
      <img
        class="reviews__img"
        src="./images/reviews/reviewer-3.png"
        alt="reviewer"
      />

      <div class="reviews__text-box">
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>

      <h3 class="reviews__name">Ellen, Chicago</h3>
    </div>

    <button class="reviews__button-right" type="button"></button>
    <button class="reviews__button-left" type="button"></button>

    <div class="reviews__marker-box">
      <div class="reviews__marker">
        <svg class="reviews__marker-icon" width="12" height="12">
          <use href="./images/reviews/reviews.svg#icon-house"></use>
        </svg>
      </div>
      <div class="reviews__marker-1">
        <svg class="reviews__marker-icon-1 hidden" width="12" height="12">
          <use href="./images/reviews/reviews.svg#icon-house"></use>
        </svg>
      </div>
      <div class="reviews__marker-2">
        <svg class="reviews__marker-icon-2 hidden" width="12" height="12">
          <use href="./images/reviews/reviews.svg#icon-house"></use>
        </svg>
      </div>
    </div>
  </div>
</section>

<script src="./slider.js"></script>
