<section class="reviews">
  <div class="container sections">
    <h2 class="hidden">Cusrtomer reviews</h2>

    <ul class="reviews__list">
      <li class="reviews__box-1">
        <img
          class="reviews__img"
          srcset="
            ./images/reviews/reviewer-1.png    1x,
            ./images/reviews/reviewer-1-2x.png 2x
          "
          src="./images/reviews/reviewer-1.png"
          alt="reviewer"
        />

        <div class="reviews__text-box">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>

        <h3 class="reviews__name">Emily, Los Angeles</h3>
      </li>

      <li class="reviews__box-2 hidden">
        <img
          class="reviews__img"
          srcset="
            ./images/reviews/reviewer-2.png    1x,
            ./images/reviews/reviewer-2-2x.png 2x
          "
          src="./images/reviews/reviewer-2.png"
          alt="reviewer"
        />

        <div class="reviews__text-box">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>

        <h3 class="reviews__name">Victoria, New York</h3>
      </li>

      <li class="reviews__box-3 hidden">
        <img
          class="reviews__img"
          srcset="
            ./images/reviews/reviewer-3.png    1x,
            ./images/reviews/reviewer-3-2x.png 2x
          "
          src="./images/reviews/reviewer-3.png"
          alt="reviewer"
        />

        <div class="reviews__text-box">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>

        <h3 class="reviews__name">Ellen, Chicago</h3>
      </li>
    </ul>

    <button class="reviews__button-right" type="button">
      <svg class="reviews__button-icon" height="60">
        <use href="./images/reviews/reviews.svg#icon-arrow"></use>
      </svg>
    </button>
    <button class="reviews__button-left" type="button">
      <svg class="reviews__button-icon" height="60">
        <use href="./images/reviews/reviews.svg#icon-arrow"></use>
      </svg>
    </button>

    <ul class="reviews__marker-list">
      <li class="reviews__marker">
        <svg class="reviews__marker-icon" width="12" height="12">
          <use href="./images/reviews/reviews.svg#icon-house"></use>
        </svg>
      </li>
      <li class="reviews__marker-1">
        <svg class="reviews__marker-icon-1 hidden" width="12" height="12">
          <use href="./images/reviews/reviews.svg#icon-house"></use>
        </svg>
      </li>
      <li class="reviews__marker-2">
        <svg class="reviews__marker-icon-2 hidden" width="12" height="12">
          <use href="./images/reviews/reviews.svg#icon-house"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>

<script src="./slider.js"></script>
