.reviews .sections {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

.reviews .container {
  padding-left: 20px;
  padding-right: 20px;
}

.reviews__img {
  margin: 0 auto;
  margin-bottom: 32px;

  width: 85px;
  height: 85px;
}

.reviews__text-box {
  position: relative;
  width: 100%;
  z-index: -2;

  padding: 0 50px;
  padding-top: 43px;
  padding-bottom: 17px;
  margin-bottom: 34px;

  background-color: #fafafa;

  &::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 53px;
    z-index: -1;

    width: 54px;
    height: 40px;
    background-image: url('../images/reviews/quotes.png');
  }

  &::after {
    content: '. . .';
    position: absolute;
    bottom: -24px;
    left: calc(100% / 2 - 16px);

    color: #c7133e;
    font-size: 27px;
  }
}

.reviews__text {
  padding: 0 15px;

  width: 100%;
  z-index: 1;

  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;

  color: $mainTextColor;
  background: repeating-linear-gradient(
    transparent 0px,
    transparent 29px,
    #e1e1e1 29px,
    #e1e1e1 30px
  );
}

.reviews__name {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: $mainTextColor;
}

.reviews__button-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  height: 100%;
  width: 47%;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.reviews__button-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  height: 100%;
  width: 47%;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.reviews__marker-box {
  display: flex;
  justify-content: center;
}

.reviews__marker,
.reviews__marker-1,
.reviews__marker-2 {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 12px;
  height: 12px;

  border-radius: 50%;
  background-color: #d9d9d9;

  &:not(:last-child) {
    margin-right: 18px;
  }
}

.reviews__marker--current {
  border-radius: none;
  background-color: transparent;
}

.amination-r {
  animation: animation-r 250ms ease-in;
}

.amination-l {
  animation: animation-l 250ms ease-in;
}

.animation-icon {
  animation: house 250ms ease-in;
}

@keyframes animation-r {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes animation-l {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes house {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
