.gallery.container {
  padding: 0;
  margin: 0;
}
.gallery__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 2.5px;
  @media screen and (min-width: 768px) {
    gap: 0 6px;
  }
  @media screen and (min-width: 1200px) {
    gap: 0 8px;
  }
}

.gallery__iteam-colum-5 {
  padding-bottom: 20px;
  @media screen and (min-width: 768px) {
    padding-bottom: 35px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 50px;
  }
}

.gallery__img:not(:last-child) {
  margin-bottom: 2.5px;
}
// .gallery__img:hover {
//   width: 90px;
//   height: 90px;
// }
.gallery__img:not(.gallery__img-spec) {
  min-width: 43.5px;
}
