.header{
    width: 100%;
    padding-top: 8px;
    padding-bottom: 34px;

    background-color:#FFB8CA;

    @media screen and (min-width: 768px) {
        padding-top: 32px;
    }

&__container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


&__nav{
    margin-left: auto;
    display: none;

 @media screen and (min-width:1200px) {
    display: block;
            }
}

&-nav__list{
    display: flex;
    gap: 35px
    
}

&-btns{
    display: flex;
    align-items: center;
    gap: 32px;

    @media screen and (min-width: 1200px) {
            margin-left: auto;
        }
    
}
&__link{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: #FFFFFF
}
&__link:hover,
&__link:focus{
    color: #D41443;
}
&-logo{
    height: 50px;
}
}

.buy-btn {
    display: none;
    padding: 17px 35px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: #D41443;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background: #ffffff;
    border-radius: 22px;
    border: none;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
        text-align: center;
        justify-content: center;
    }

    &:hover,
    &:focus {
        background-color: #ECEBEB;
    }

    &__icon {
        width: 6px;
        height: 10px;
        margin-left: 12px;

    }
}


.menu-btn__open{
    width: 20px;
    display: block;
    padding: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
    outline: rgba(0, 0, 0, 0);
    transform: translateX(0);

    @media screen and (min-width: 1200px) {
        display: none;
    }


}

.menu-btn__icon-open{
    width: 20px;
    height: 12px;
}



// nav-menu
// .is-hiden{
// opacity: 0;
// visibility: hidden;
// pointer-events: none;}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: #E17992;
    transform: translateX(100%);
    .menu-btn__open:hover .menu,
    .menu-btn__open:focus .menu {
            transform: translateX(0);
        }

&-btn__close{
    width: 14px;
    height: 14px;
    margin-left: auto;
    
    display: block;
    padding: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
    outline: rgba(0, 0, 0, 0);
}

&-btn__icon-close{
    width: 14px;
    height: 14px;
}

&-container{
    display: flex;
    flex-direction: column;
}

&-buy-btn{
    width: 100%;
    margin: 26px auto 19px auto;
}

&-nav__list{
    display: flex;
    flex-direction: column;

}

&-nav__item{
    padding: 12px auto;
}

&__link{
    width: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    color: #FFFFFF;
    border-top: 1px solid #E18298;
    border-bottom: 1px solid #E18298;
    &:hover,
    &:focus{
        color: #D41443
    }
}
}

.menu-buy-btn {
    padding: 17px 49px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: #D41443;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background: #ffffff;
    border-radius: 22px;
    border: none;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
        text-align: center;
        justify-content: center;
    }

    &:hover,
    &:focus {
        background-color: #ECEBEB;
    }
}
.menu-buy__icon {
        width: 6px;
        height: 10px;
        margin-left: 12px;

    }
