.products {
  text-align: center;
}
.products__suptitle {
  margin-bottom: 15px;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
  }
}
.products__title {
  margin-bottom: 148px;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 48px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1200px) {
    font-size: 55px;
    line-height: 1.12;
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  gap: 16px;
}
.products__item {
  width: 280px;
  height: 489px;
  border-radius: 24px;
  position: relative;
  padding: 165px 40px 40px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 224px;
    height: 100%;
  }
  @media screen and (min-width: 1200px) {
    width: 368px;
    height: 100%;
  }
}
.products__item:not(:last-child) {
  margin-bottom: 140px;
}

.products__item.products__item--ice-cream {
  background: #ffb8ca;
}
.products__item.products__item--coffe {
  background: #f0d1a5;
}
.products__item.products__item--milkshakes {
  background: #c2e297;
}

.products__item--img-icecream {
  &::before {
    position: absolute;
    content: '';
    top: -25%;
    left: 50%;
    width: 100%;
    height: 280px;

    transform: translateX(-50%);
    display: block;
    background-image: url(/src/images/products-img/ice-mob-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
  }
}
.products__name {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 32px;
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.3;
  }
}

.products__inform--text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 32px;
  &::before {
    margin: 32px auto;
    content: '';
    top: 0;
    left: 0;
    display: block;
    width: 26px;
    height: 6px;
    background-image: url(/src/images/products-img/Group\ 4.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 14px;
    line-height: 1.8;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.8;
  }
}
.products_button {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px RGB(245, 255, 255), 0px 4px 4px RGB(245, 255, 255),
      1px 4px 6px RGB(245, 255, 255);
  }
}
.products_button__icon {
  color: #d41443;
  transition: transform 250ms linear;
  .products_button:hover &,
  .product_button:focus & {
    transform: scale(1.5) rotateZ(-90deg);
  }
}

.about {
  position: absolute;
  top: -100px;
  left: 50%;
  width: 280px;
  transform: translate(-50%, -50%);

  padding: 0 15px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 400ms linear, visibility 400ms linear;
  color: #ffffff;
 @media screen and (min-width: 480px) {
   width: 220px;
    height: 120px;
  }

  @media screen and (min-width: 768px) {
   
  }

  @media screen and (min-width: 1200px) {
    width: 330px;
    height: 180px;
    font-size: 18px;
  }

  .products_button:hover &,
  .products_button:focus & {
    opacity: 1;
    visibility: visible;
  }
}
.about-ice {
 background-color: #ffb8ca;
}

.about-coffee {
  background-color: #f0d1a5;
}

.about-milkshake {
      background-color: #c2e297;
 
}
